.header {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 5px;
    background-color:azure;
}

.header-text {
    max-width: 70%; 
}

.header-text h1, .header-text h2 {
    color: rgb(27, 27, 27);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5;
    margin-right: 5;
}

p.d{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.profile {
    margin-top: 10px; 
}

.profile li {
    text-align: left; 
    font-size: 16px; 
    margin: 0;
}

.header img {
    display: block;
    margin-left: 20px; 
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%; 
}

.description {
    background-color: rgb(245, 244, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0); 
    padding: 15px;
}

p {
    font-size: small;
}

.bullet-list {
    list-style-type:circle;
}

.bullet-list li {
    font-size:small;
}

p {
    font-size: small;
    text-align: left;
}

.PerInfo {
    display: flex;
    gap: 20px; 
}

.column {
    flex: 1; 
    padding: 0px; 
    margin-right: 0px;
}

.column + .column {
    margin-left: 2px; 
}

.container {
    background-color: #f0f0f0;
    border: 2px solid #000;
    padding: 20px;
    margin: 20px;
    border-radius: 15px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}

h1, h2, h3 {
    border-bottom: 2px solid #000; 
    padding-bottom: 10px; 
}

.container1 {
    background-color:azure;
    border: 2px solid #000;
    padding: 15px;
    margin: 20px;
    border-radius: 15px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}