.header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    background-image: url("websiteheaderbg.jpg");
    background-size: cover;
    line-height: 3px;
    margin: auto;
    width: 100%;
    padding: 50px;
}

.header-text h1 {
    color:rgb(90, 54, 6);
    font-size:70px;
}

.header-text h5 {
    line-height: 3px;
    text-align: center;
    font-family: Arial, 'Helvetica', sans-serif;
    color: aliceblue;
    text-shadow: -1px -1px 0 rgb(71, 50, 10), 1px -1px 0  rgb(71, 50, 10), 1px 1px 0 rgb(71, 50, 10),
    1px 1px 0  rgb(71, 50, 10);
}
